<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="~/css/AQMTemplate.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["AQMTemplate.Web.styles.css"]" />
    <link rel="stylesheet" href="_content/Syncfusion.Blazor.Themes/material3.css" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
